body{
    background-color: rgb(63, 62, 62);
    text-align: center;
}
h1{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
#caixa{
    width: 450px;
    max-width: 80%;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: rgb(133, 131, 131);
    text-align: center;
    margin-bottom: 20px;
}
input::placeholder{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#caixa:hover{
    background-color: rgb(185, 182, 182);
}
#botao{
    border-radius: 30px;
    background-color: rgb(108, 97, 153);
    text-align: center;
    height: 40px;
    width: 150px;
    max-width: 100%;

}
#botao:hover{
    background-color: rgb(73, 66, 104);

}
div{
    margin-top: 30px;
    margin-left: 10%;
    border: 3px solid  black;
    border-radius: 20px;
    display: grid;
    place-items: center;      /* Atalho para centralizar nos dois eixos */
    width: 80%;

}
.receita{
    text-align: center;
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
